:root {
    --main-color: #7b70c6;
    --accent-color: #cccccc;
}
body {
    font-family: "Mulish", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






/* side dashboard */
nav {
    color: white;
    background-color: var(--main-color);

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    width: min(25%, 250px);
    height: 100vh;
    min-width: 250px;
}
nav .icon-group {
    display: flex;
    align-items: center;
}
nav svg {
    fill: white;
    max-width: 1.5em;
    padding: 0px 20px;
}
nav h1 {
    font-size: 1.3em;
}
/* large logo size for "dashboard" */
nav .icon-group:first-child svg {
    max-width: 3em;
    padding: 0px 10px;
}
nav .icon-group:first-child h1 {
    font-size: 1.8em;
}