/* global styles */
:root {
    --main-color: #7b70c6;
    --accent-color: #ff7ba1;
}
body {
    font-family: "Mulish", sans-serif;
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* whole page structure */
    display: grid; 
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.5fr 4fr;
    grid-template-areas:
        "nav header"
        "nav main";
}





/* side dashboard */
nav {
    grid-area: nav;
    color: white;
    background-color: var(--main-color);

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    min-width: 250px;
    height: 100vh;
}
nav .icon-group {
    display: flex;
    align-items: center;
}
nav svg {
    fill: white;
    width: 1.5em;
    padding: 0px 20px;
}
nav h1 {
    font-size: 1.3em;
}
/* large logo size for "dashboard" */
nav .icon-group:first-child svg {
    width: 3em;
    padding: 0px 10px;
}
nav .icon-group:first-child h1 {
    font-size: 1.8em;
}





/* header: search, welcome, buttons */
header {
    grid-area: header;

    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px #a8a8a8;
    z-index: 1; /* fix layering behind main */
}
header svg {
    width: 1.5em;
    padding: 0px 20px;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header input {
    background-color: #e1e1e1;
    padding: 7px clamp(12px, 20vw, 500px);
    border: none;
    border-radius: 20px;
}
header svg.account_small { fill: var(--accent-color); width: 3em; }
header svg.account_large { fill: var(--accent-color); width: 5em; }
/* flex style welcome bubble, for inline display */
.welcome-bubble {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.button-group {
    gap: 30px;
}
.button-group button {
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
}





/* main: projects, announcements, trending */
main {
    grid-area: main;
    background-color: #e1e1e1;

    /* grid for 'main' area */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        "news-title announcements-title"
        "newsfeed announcements"
        "newsfeed trending-title"
        "newsfeed trending";
}
.news-feed {
    grid-area: newsfeed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 25px;
}
.news-group {
    background-color: white;
    padding: 0px 25px;
    border-left: 10px solid var(--accent-color);
    border-radius: 15px;
    box-shadow: 2px 2px 10px #a8a8a8;
}
.news-icon-group {
    text-align: right;
}
.news-icon-group svg {
    width: 1.5em;
    padding: 0px 20px;
}
.announcements, .trending {
    background-color: white;
    display: grid;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #a8a8a8;
    margin: 25px;
}
.announcement-group {
    border-bottom: 2px solid #a8a8a8;
}
.trending svg {
    fill: var(--main-color);
    width: 3em;
    padding: 0px 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.section-title {
    font-weight: bold;
    font-size: 1.5em;
}
.announcements { grid-area: announcements; }
.trending { grid-area: trending; }
#news-title { grid-area: news-title; margin: 20px 0 0 40px; }
#announcements-title { grid-area: announcements-title; margin: 20px 0 0 40px; }
#trending-title { grid-area: trending-title; margin: 20px 0 0 40px; }