/* global styles */
:root {
    --main-color: #7b70c6;
    --accent-color: #ff7ba1;
}
body {
    font-family: "Mulish", sans-serif;
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* whole page structure */
    display: grid; 
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.5fr 4fr;
    grid-template-areas:
        "nav header"
        "nav main";
}





/* side dashboard */
nav {
    grid-area: nav;
    color: white;
    background-color: var(--main-color);

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    min-width: 250px;
    height: 100vh;
}
nav .icon-group {
    display: flex;
    align-items: center;
}
nav svg {
    fill: white;
    width: 1.5em;
    padding: 0px 20px;
}
nav h1 {
    font-size: 1.3em;
}
/* large logo size for "dashboard" */
nav .icon-group:first-child svg {
    width: 3em;
    padding: 0px 10px;
}
nav .icon-group:first-child h1 {
    font-size: 1.8em;
}





/* header: search, welcome, buttons */
header {
    grid-area: header;

    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px #a8a8a8;
    z-index: 1; /* fix layering behind main */
}
header svg {
    width: 1.5em;
    padding: 0px 20px;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header input {
    background-color: #e1e1e1;
    padding: 7px clamp(12px, 20vw, 500px);
    border: none;
    border-radius: 20px;
}
header svg.account_small { fill: var(--accent-color); width: 3em; }
header svg.account_large { fill: var(--accent-color); width: 5em; }
/* flex welcome bubble to display inline */
.welcome-bubble {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.button-group {
    gap: 30px;
}
.button-group button {
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
}





/* main: projects, announcements, trending */
main {
    grid-area: main; /* whole page grid */
    background-color: #e1e1e1;
}
.news-feed {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.news-group {
    max-width: 70%;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    margin: 20px;
}
.news-icon-group {
    text-align: right;
}
.news-icon-group svg {
    width: 1.5em;
    padding: 0px 20px;
}